<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="user">
            <h2><span>User</span> {{user.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{user.username}}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{user.password}}</span>
                </dd>
                <dt><span>Usertype</span></dt>
                <dd>
                    <span>{{user.usertype}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user', user.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
