  <ul class="menu">
      <li>
        <div class="dropdown">
        <a [routerLink]="['insertUser']" routerLinkActive="router-link-active" class="dropbtn">Nuovo Utente</a>
        </div>
      </li>

      <li>
        <div class="dropdown">
        <a [routerLink]="['showUser']" routerLinkActive="router-link-active" class="dropbtn">Lista utenti</a>
        </div>
      </li>
      
      <li>
        <div class="dropdown">
        <a [routerLink]="['insertCity']" routerLinkActive="router-link-active" class="dropbtn">Nuova Citta'</a>
        </div>
      </li>

      <li>
        <div class="dropdown">
        <a [routerLink]="['showCity']" routerLinkActive="router-link-active" class="dropbtn">Lista Citta'</a>
        </div>
      </li>


      
      
  </ul>