  <ul class="menu">
      
      <li>
        <div class="dropdown">
        <a [routerLink]="['showUser']" routerLinkActive="router-link-active" class="dropbtn">Lista utenti</a>
        </div>
      </li>

      <li>
        <div class="dropdown">
        <a [routerLink]="['insertUser']" routerLinkActive="router-link-active" class="dropbtn">Nuovo Utente</a>
        </div>
      </li>

      <li >
        <div class="dropdown">
        <a [routerLink]="['logOut']" routerLinkActive="router-link-active" class="dropbtn">Logout</a>
        </div>
      </li>
  </ul>